<mat-toolbar color="primary">
  <span>Funko Poop !</span>
  <div class="info">{{ owned }}</div>
  <form class="search-form" [formGroup]="searchForm">
    <mat-form-field class="input-full-width" floatLabel="never">
      <input matInput placeholder="Your Funko Pop" formControlName="query" />
      <button mat-button *ngIf="isQuery" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <!--  Temporary disabled because of the newest version of Angular Material -->
  <!--   <button type="button" aria-label="Change the view" mat-icon-button (click)="toggleView()">
    <mat-icon>{{ isGridView ? 'grid_on' : 'list' }}</mat-icon>
  </button> -->
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleExtendForm()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</mat-toolbar>
<!--
  <h4>
    Funko Pop List: {{ funkoList?.length }} <br /> Funko Pop Owned: {{ funkoList | filterFunko }} <br /> Funko Pop Filtered: {{ funkoFilter.length }} <br />
  </h4>
-->
<!-- <mat-checkbox>Toggle</mat-checkbox> -->
<mat-toolbar class="under-toolbar" #extendForm>
  <form class="extended-form" [formGroup]="searchForm">
    <div>
      <mat-label>Sort By: </mat-label>
      <mat-button-toggle-group formControlName="radioModel">
        <mat-button-toggle value="all"> All </mat-button-toggle>
        <mat-button-toggle value="owned"> Owned </mat-button-toggle>
        <mat-button-toggle value="wanted"> Wanted </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <mat-label>Categories: </mat-label>
      <mat-form-field floatPlaceholder="never">
        <mat-select formControlName="categorieModel">
          <mat-option *ngFor="let categorie of categories" [value]="categorie"> {{ categorie }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-label>Collections: </mat-label>
      <mat-form-field floatPlaceholder="never">
        <mat-select formControlName="collectionModel">
          <mat-option *ngFor="let collection of collections" [value]="collection"> {{ collection }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-fab color="primary" (click)="resetForm()">Reset</button>
  </form>
</mat-toolbar>
