<mat-toolbar color="primary">Funko Poop !
  <form class="search-form" [formGroup]="searchForm">
    <mat-form-field class="input-full-width" floatLabel="never">
      <input matInput placeholder="Your Funko Pop" formControlName="searchModel" />
    </mat-form-field>
  </form>
</mat-toolbar>
<!-- <h4>
  Funko Pop List: {{ funkoList?.length }} <br /> Funko Pop Owned: {{ funkoList | filterFunko }} <br /> Funko Pop Filtered: {{ funkoFilter.length }} <br />
</h4> -->
<!-- <mat-checkbox>Toggle</mat-checkbox> -->
<mat-toolbar>
  <form class="extended-form" [formGroup]="searchForm">
    <mat-label>Sort By: </mat-label>
    <mat-button-toggle-group formControlName="radioModel">
      <mat-button-toggle value="all">
        All
      </mat-button-toggle>
      <mat-button-toggle value="owned">
        Owned
      </mat-button-toggle>
      <mat-button-toggle value="wanted">
        Wanted
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-label>Categories: </mat-label>
    <mat-form-field floatPlaceholder="never">
      <mat-select formControlName="categorieModel">
        <mat-option *ngFor="let categorie of categories" [value]="categorie">
          {{categorie}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-label>Collections: </mat-label>
    <mat-form-field floatPlaceholder="never">
      <mat-select formControlName="collectionModel">
        <mat-option *ngFor="let collection of collections" [value]="collection">
          {{collection}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-fab color="primary" (click)="resetForm()">Reset</button>
  </form>
</mat-toolbar>