:host {
  display: flex;
  flex-direction: column;
  font-family: 'Komika Axis';
  padding-bottom: 10px;

  @function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke * -1;
    @for $i from $from through $stroke {
      @for $j from $from through $stroke {
        $shadow: append($shadow, $i * 1px $j * 1px 0 $color, comma);
      }
    }
    @return $shadow;
  }

  @mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
  }

  .title {
    color: white;
    @include stroke(5, black);
    text-align: center;
    font-size: 3rem;
    cursor: pointer;

    &:hover {
      color: black;
      @include stroke(5, white);
    }
  }

  form {
    flex-basis: 100%;
    color: white;

    div {
      display: block;
      position: relative;
      margin: 0 20px;

      ::ng-deep input {
        font-family: 'Komika Axis';
        color: white;
        width: 100%;
        @include stroke(3, black);
        padding: 6px;
      }

      button {
        position: absolute;
        right: -15px;
        top: -1px;
        color: black;
      }
    }
  }
}
