:host {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  justify-content: center;
  font-family: 'Komika Axis';

  .funko-card {
    display: grid;
    align-content: space-between;
    font-family: 'Komika Axis';

    img {
      cursor: pointer;
      height: 35vh;
      object-fit: cover;
    }

    .mat-card-header {
      justify-content: space-between;

      &::ng-deep .mat-card-header-text {
        margin: unset;

        .mat-card-title {
          font-size: 1em;
        }

        .mat-card-subtitle {
          font-size: 0.75em;
        }
      }
    }

    .mat-chip.mat-standard-chip {
      background-color: #616161;
      color: white;
    }

    &.owned {
      background-color: #d7d7d7;
    }

    &.wanted {
      background-color: #ff9191;
    }
  }
}

@media screen and (max-width: 680px) {
  :host {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 680px) and (max-width: 920px) {
  :host {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 920px) and (max-width: 1200px) {
  :host {
    grid-template-columns: repeat(3, 1fr);
  }
}
