<mat-card [class.be]="funko.wantedBe && !funko.wantedNo" [class.no]="!funko.wantedBe && funko.wantedNo" [class.nobe]="funko.wantedBe && funko.wantedNo">
  <!--  Add pipe for classes-->
  <mat-card-header>
    <div mat-card-avatar>{{ funko.number }}</div>
  </mat-card-header>
  <img mat-card-image [src]="funko.picture" alt="" />
  <mat-card-header>
    <mat-card-title>{{ funko.name }}</mat-card-title>
    <mat-card-subtitle>{{ funko.category }}/{{ funko.collection }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip *ngFor="let rarity of funko.rarities" color="accent" selected>{{ rarity }}</mat-chip>
      <mat-chip *ngFor="let exclusivity of funko.exclusivities" color="warn" selected>{{ exclusivity }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
