<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" position="end">
    <button (click)="barcodeHandler()">QRCode Reader</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <funko-header (toggleMenu)="toggleMenuHandler()"></funko-header>

    <div *ngIf="isMain" class="main">
      <funko-card *ngFor="let funko of funkoList; trackBy: trackElement" [funko]="funko"></funko-card>
    </div>
    <funko-code-reader *ngIf="!isMain"></funko-code-reader>
  </mat-sidenav-content>
</mat-sidenav-container>
