<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Funko Poop !
  </h1>
  <!-- <mat-checkbox>Toggle</mat-checkbox> -->
  <form class="search-form">
    <mat-form-field class="input-full-width" floatLabel="auto">
      <input matInput placeholder="Your Funko Pop" value="">
    </mat-form-field>
  </form>
</div>
<div class="funko-list">
  <mat-card class="funko-card" *ngFor="let funko of funkoList">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{ funko.name }}</mat-card-title>
      <mat-card-subtitle>{{ funko.category }}/{{ funko.collection }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="funko.picture" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{ funko.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>