.search-form {
    min-width: 150px;
    max-width: calc(100vw - 500px);
    width: 100%;
    margin: 0 auto;

    .input-full-width {
        width: 100%;
    }
}

.funko-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-gap: 1em;
    justify-content: space-evenly;
    .funko-card {
        display: grid;
        align-content: space-between;

        img {
            cursor: pointer;
        }
    }
}
