/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url(assets/cloud.png);
    animation: mymove 4s linear infinite;
    -webkit-animation: mymove 4s linear infinite;
    -moz-animation: mymove 4s linear infinite;
}
@keyframes mymove {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 40% 0;
    }
}
