/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/purple-green.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Komika Axis', 'Roboto', sans-serif;

  /* background: url('https://source.unsplash.com/1920x1080/?comic'); */
  background: url('https://images.unsplash.com/photo-1501432377862-3d0432b87a14?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjF9');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  ::ng-deep {
    font-family: 'Komika Axis';
  }
}

@keyframes mymove {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 40% 0;
  }
}

@font-face {
  font-family: 'Komika Axis';
  src: url('/assets/font/KomikaAxis.eot');
  src: url('/assets/font/KomikaAxis.eot?#iefix') format('embedded-opentype'), url('/assets/font/KomikaAxis.woff2') format('woff2'),
    url('/assets/font/KomikaAxis.woff') format('woff'), url('/assets/font/KomikaAxis.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
