:host {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  justify-content: center;

  .funko-card {
    display: grid;
    align-content: space-between;

    img {
      cursor: pointer;
    }

    .mat-card-header {
      justify-content: space-between;
    }

    .mat-chip.mat-standard-chip {
      background-color: #616161;
      color: white;
    }

    &.owned {
      background-color: #d7d7d7;
    }

    &.wanted {
      background-color: #ff9191;
    }
  }
}

@media screen and (max-width: 770px) {
  :host {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 770px) and (max-width: 1200px) {
  :host {
    grid-template-columns: repeat(2, 1fr);
  }
}
