<mat-card class="funko-card" [class.owned]="funko.owned" [class.wanted]="funko.wanted" *ngFor="let funko of funkoFilter">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">{{ funko.number }}</div>
    <mat-card-title>{{ funko.name }}</mat-card-title>
    <mat-card-subtitle>{{ funko.category }}/{{ funko.collection }}</mat-card-subtitle>
    <mat-icon *ngIf="funko.wanted" title="Funko WANTED !">warning</mat-icon>
    <mat-icon *ngIf="funko.owned" title="Funko OWNED !">cloud_done</mat-icon>
  </mat-card-header>
  <img mat-card-image [src]="funko.picture[0]" alt="Photo of {{ funko.name }}" (click)="openDetail(funko)">
  <mat-card-content>
    <p>
      {{ funko.description }}
    </p>
  </mat-card-content>

  <mat-chip-list>
    <mat-chip *ngFor="let rarity of funko.rarity">{{ rarity }}</mat-chip>
  </mat-chip-list>
</mat-card>