:host {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-gap: 1em;
    justify-content: space-evenly;
    .funko-card {
        display: grid;
        align-content: space-between;

        img {
            cursor: pointer;
        }

        &.owned {
            background-color: #d7d7d7;
        }

        &.wanted {
            background-color: #ff9191;
        }
    }
}
